<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427349439795-77u09ma360ssncfmu27tu4es9lnrrip4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427349439795-77u09ma360ssncfmu27tu4es9lnrrip4</string>
	<key>API_KEY</key>
	<string>AIzaSyAxPP8Avmtu2OFTIUooDIVnaYLzNTz4KLU</string>
	<key>GCM_SENDER_ID</key>
	<string>427349439795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alnutayfi.shatlah.Shatlah</string>
	<key>PROJECT_ID</key>
	<string>shatlah01</string>
	<key>STORAGE_BUCKET</key>
	<string>shatlah01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427349439795:ios:261919e38bd692bc3b7a46</string>
</dict>
</plist>